@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    overflow-x: hidden;
}

/**/
/*Header*/
/**/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 20px 40px 20px 60px;
    border-bottom: 1px solid #F0EFF4;

    background-color: #175AA6;
}

.logo-header {
     width: 200px;   
}

.menu-nav {
    font-weight: 400;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 60px;
    color: #fff;
}

.menu-nav li {
    color: #00328a;
    background-color: #fff;
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
    cursor: pointer;
}

/**/
/*Main section top*/
/**/

.infos {
    display: flex;
    flex-direction: column;
}

.infos {
    background-color: #175AA6;
}

.container-sec-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
    align-items: center;
    padding: 150px 40px 150px 40px;
}

.container-info {
    width: 400px;
}

.container-info {
    font-weight: 300;
    font-size: 0.8em;
    line-height: 30px;
    color: #fff;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;

    font-size: 100%;
}

.info-title {
    font-weight: 600;
    color: #EFCA08;
}

.info-text {
    width: 500px;
    font-weight: 400;
    color: white;
}

.container-sec-1 {
    margin: 90px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.container-sec-1 img {
    width: 400px;
}

.infos-container-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: hidden;
    width: 400px;
}

.infos-container-1 h1 {
    font-size: 1.9em;
    color: #fff;
}

.infos-container-1 span {
    font-weight: 400;
}

.infos-container-1 p {
    color: #fff;
    font-size: 1.0em;
}

.borda {
    border-bottom: 1px solid white;
    padding-bottom: 40px;
}

.container-sec-1 button {
    padding: 10px 20px 10px 20px;
    width: 300px;
    border: none;
    background-color: white;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.container-sec-1 a {
    color: #00328a;
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    font-weight: bolder;
    font-size: 1.2em;
}

.container-sec-2-image {
    width: 400px;
}

button:hover {
    transform: scale(1.03);
}

.info-subcontainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 50px 100px 50px;
    gap: 200px;
}

.container-images img {
    width: 300px;
}

.img-1 {
    margin-left: 150px;
}

.img-2 {
    margin-right: 150px;
    display: flex;
    align-self: flex-end;
}

/**/
/*Main middle (Services)*/
/**/

/**/
/*Service Title*/
/**/

.services {
    margin-top: 100px; 
}

.emphasis-text {
    color: #EFCA08;
}

.services-title {
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.services-title h1 {
    color: #175AA6;
    letter-spacing: 3px;
    font-size: 1.2em;
    font-weight: 800;
}

.services-title h2 {
    color: #000F23;
    font-size: 2.5em;
    font-weight: 800;
}

.services-title p {
    color: #67757F;
}

/**/
/*Services*/
/**/

.service img {
    width: 100px;
    height: 100px;
}

.card-image {
    display: flex;
    justify-content: center;
}

.services-info {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.service {
    border: 1px solid #BFBFBF;
    width: 250px;
    height: 350px;
    padding: 20px;
    border-radius: 10px;
    text-align: start;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-right: 15px;
}

.services-texts-sm {
    overflow-y: hidden;
}

.services-texts-design::-webkit-scrollbar {
    width: 5px; /* Largura da barra de rolagem */
}
  
/* Fundo da barra de rolagem */
.services-texts-design::-webkit-scrollbar-track {
background: #f5f5f5; /* Cor do fundo da barra */
border-radius: 10px; /* Bordas arredondadas */
}

/* Estilo do "polegar" da barra */
.services-texts-design::-webkit-scrollbar-thumb {
background: linear-gradient(45deg, #6a11cb, #2575fc); /* Gradiente no polegar */
border-radius: 10px; /* Bordas arredondadas */
}

/* Estilo ao passar o mouse sobre o "polegar" */
.services-texts-design::-webkit-scrollbar-thumb:hover {
background: linear-gradient(45deg, #2575fc, #6a11cb); /* Gradiente invertido */
}

/* Bordas da barra */
.services-texts-design::-webkit-scrollbar-thumb:active {
background: #4c9eff; /* Cor sólida ao clicar */
}

.services-texts-crm::-webkit-scrollbar {
    width: 5px; /* Largura da barra de rolagem */
}
  
/* Fundo da barra de rolagem */
.services-texts-crm::-webkit-scrollbar-track {
background: #f5f5f5; /* Cor do fundo da barra */
border-radius: 10px; /* Bordas arredondadas */
}

/* Estilo do "polegar" da barra */
.services-texts-crm::-webkit-scrollbar-thumb {
background: linear-gradient(45deg, #6a11cb, #2575fc); /* Gradiente no polegar */
border-radius: 10px; /* Bordas arredondadas */
}

/* Estilo ao passar o mouse sobre o "polegar" */
.services-texts-crm::-webkit-scrollbar-thumb:hover {
background: linear-gradient(45deg, #2575fc, #6a11cb); /* Gradiente invertido */
}

/* Bordas da barra */
.services-texts-crm::-webkit-scrollbar-thumb:active {
background: #4c9eff; /* Cor sólida ao clicar */
}

.services-texts-crm::-webkit-scrollbar {
    width: 5px; /* Largura da barra de rolagem */
}
  
/* Fundo da barra de rolagem */
.services-texts-crm::-webkit-scrollbar-track {
background: #f5f5f5; /* Cor do fundo da barra */
border-radius: 10px; /* Bordas arredondadas */
}

/* Estilo do "polegar" da barra */
.services-texts-crm::-webkit-scrollbar-thumb {
background: linear-gradient(45deg, #6a11cb, #2575fc); /* Gradiente no polegar */
border-radius: 10px; /* Bordas arredondadas */
}

/* Estilo ao passar o mouse sobre o "polegar" */
.services-texts-crm::-webkit-scrollbar-thumb:hover {
background: linear-gradient(45deg, #2575fc, #6a11cb); /* Gradiente invertido */
}

/* Bordas da barra */
.services-texts-crm::-webkit-scrollbar-thumb:active {
background: #4c9eff; /* Cor sólida ao clicar */
}

.service p {
    color: rgb(63, 63, 63);
    font-weight: 600;
    line-height: 20px;
}

.services-design p {
    margin: 15px 0px 15px 0px;
}

.service li {
    color: rgb(51, 51, 51);
    font-weight: 600;
    line-height: 20px;
}

.services-sm ul {
    margin-bottom: 15px;
}

.services-sm p {
    color: rgb(63, 63, 63);
    font-weight: 600;
}

.service h1 {
    text-align: center;
    margin-bottom: 20px;
}

/**/
/*Depoimentos*/
/**/

.testimonials {
    margin-top: 100px;
}

.testimonials-title {
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 100px;
}

.testimonials-title h1 {
    color: #175AA6;
    letter-spacing: 3px;
    font-size: 1.2em;
    font-weight: 800;
}

.testimonials-title h2 {
    color: #000F23;
    font-size: 2.5em;
    font-weight: 800;
}

.testimonials-title p {
    color: #67757F;
}

.cards {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.card {
    border: 1px solid #BFBFBF;
    width: 250px;
    height: 350px;
    padding: 20px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.card p {
    color: #67757F;
}

.card .bold {
    color: black;
}

.card img {
    width: 40px;
}

/**/
/*Contact*/
/**/

.contact {
    color: white;
    width: 100vw;
    margin-top: 100px;
    border-bottom: 3px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20%;
    padding: 150px 100px 150px 100px;
    background: linear-gradient(180deg, rgba(23,90,166,1) 0%, rgba(9,35,64,1) 100%);
}

.left-contact {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
}

.left-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.left-title p {
    color: rgba(255, 255, 255, 0.555);
    font-size: 1.2em;
    font-weight: 700;
}

.left-title h1 {
    width: 400px;
    font-weight: 800;
}

.contact-card-text {
    background-color: #fff;
    color: #67757F;
    border: 1px solid #BFBFBF;
    width: 340px;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    line-height: 25px;
}

.contact-card-text::-webkit-scrollbar {
    width: 5px; /* Largura da barra de rolagem */
}
  
/* Fundo da barra de rolagem */
.contact-card-text::-webkit-scrollbar-track {
background: #f5f5f5; /* Cor do fundo da barra */
border-radius: 10px; /* Bordas arredondadas */
}

/* Estilo do "polegar" da barra */
.contact-card-text::-webkit-scrollbar-thumb {
background: linear-gradient(45deg, #6a11cb, #2575fc); /* Gradiente no polegar */
border-radius: 10px; /* Bordas arredondadas */
}

/* Estilo ao passar o mouse sobre o "polegar" */
.contact-card-text::-webkit-scrollbar-thumb:hover {
background: linear-gradient(45deg, #2575fc, #6a11cb); /* Gradiente invertido */
}

/* Bordas da barra */
.contact-card-text::-webkit-scrollbar-thumb:active {
background: #4c9eff; /* Cor sólida ao clicar */
}

.yellow {
    color: #EFCA08;
}

.left-social-medias {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.left-social-medias img {
    width: 70px;
    transition: all .2s;
}

.left-social-medias img:hover {
    transform: scale(1.08);
}

.right-contact {
    margin-bottom: 280px;
    width: 50%;
}

.right-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.right-title p {
    color: rgba(255, 255, 255, 0.555);
    font-size: 1.2em;
    font-weight: 700;
}

.right-title h1 {
    width: 400px;
    font-weight: 800;
}

form {
    max-width: 400px;
    margin-top: 40px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

button {
    background-color: transparent;
    border: 2px solid white;
    color: #fff;
    padding: 10px 15px;
    border-radius: 1px;
    cursor: pointer;
    transition: all .2s;
}



.location h1 {
    text-align: center;
    color: #000F23;
    font-size: 2.5em;
    font-weight: 800;
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/**/
/*Footer*/
/**/

.footer {
    background-color: #00328a; /* Cor de fundo do footer */
    color: #fff; /* Cor do texto */
    padding: 150px 30px 30px 30px;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between; /* Espaço igual entre as colunas */
    flex-wrap: wrap; /* Adaptação para telas menores */
    gap: 20px;
}

.footer-agency-text,
.footer-agency-info,
.footer-agency-contact {
    flex: 1;
    max-width: 300px; /* Limita a largura máxima */
    min-width: 240px; /* Largura mínima ajustada */
}

.footer-agency-text img {
    width: 150px; /* Ajusta o tamanho da logo */
    margin-bottom: 15px;
}

.footer-agency-text p,
.footer-agency-info p,
.footer-agency-contact p {
    margin: 10px 0;
    line-height: 1.6;
}

.footer-agency-info h1,
.footer-agency-contact h1 {
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.footer-text-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.footer-text-container img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.footer-social-medias {
    display: flex;
    gap: 25px; /* Espaçamento entre os ícones */
    margin-top: 15px;
    overflow-y: hidden;
}

.footer-social-medias img {
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    padding-top: 20px;
    font-size: 14px;
    color: #ffffff; /* Cor mais clara para o texto */
    flex-wrap: wrap; /* Adaptação para telas menores */
    gap: 10px;
}

.copyright p {
    margin: 0;
}

/* Ajustes para telas pequenas */
@media (max-width: 768px) {
    /* Cabeçalho */
    .header {
        flex-direction: column;
        gap: 20px;
        height: 150px;
    }

    .menu-nav {
        flex-direction: row;
        gap: 30px;
    }

    /* Conteúdo principal */
    .container-sec-1 {
        flex-direction: column-reverse;
        gap: 50px;
        align-items: center;
        text-align: center;
    }

    .infos-container-1 {
        flex-direction: column;
        gap: 30px;
        align-items: center;
        text-align: center;
    }

    .infos-container-1 h1 {
        font-size: 1.5em;
        color: #fff;
    }
    
    .infos-container-1 span {
        font-weight: 400;
    }
    
    .infos-container-1 p {
        color: #fff;
        font-size: 1.0em;
    }

    .container-sec-1 img {
        width: 250px;
    }   

    .container-sec-2 img {
        width: 250px;
    }

    .container-sec-2 {
        flex-direction: column;
        gap: 40px;
        align-items: center;
        text-align: center;
    }

    .container-info {
        width: 350px;
        text-align: justify;
    }

    .container-info h1 {
        font-size: 1.4em;
    }

    .container-images img {
        width: 350px;
    }
    
    .img-1 {
        margin: 0;
        align-self: center;
    }
    
    .img-2 {
        margin: 0;
        align-self: center;
    }

    .container-sec-1-image {
        width: 300px;
        margin-bottom: 50px;
    }

    p.info-text {
        width: 230px;
        font-size: 0.8em;
    }

    /* Serviços */
    .services-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .service img {
        max-width: 80%;
        height: auto;
    }

    .reverse {
        flex-direction: column !important;
    }

    /* Depoimentos */
    .cards {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .card {
        padding: 15px;
    }

    /* Formulário de Contato */
    .right-contact {
        text-align: center;
    }

    .form, .form-input, .textarea {
        width: 100%;
        margin: 10px auto;
        padding: 10px;
    }

    .contact {
        display: flex;
        flex-direction: column;
    }

    .contact-card-text {
        background-color: #fff;
        color: #67757F;
        border: 1px solid #BFBFBF;
        width: 340px;
        height: 400px;
        padding: 0;
        border-radius: 10px;
        line-height: 30px;
    }

    .left-title {
        align-items: center;
        text-align: center;
    }

    .right-title {
        align-items: center;
        text-align: center;
    }

    .left-social-medias {
        margin-bottom: 50px;
        padding-bottom: 50px;
        border-bottom: 1px solid white;
    }

    .left-contact {
        text-align: center;
        align-items: center;
        width: 100vw;
    }

    .right-contact {
        text-align: center;
        align-items: center;
        width: 100vw;
    }

    .footer-container {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-text-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-social-medias {
        align-items: center;
        justify-content: center;
    }

    .copyright {
        justify-content: center;
        text-align: center;
        margin-left: 10px;
    }
}

    

/* Para dispositivos ainda menores */
@media (max-width: 480px) {
    .logo-header {
        max-width: 120px;
    }

    .container-sec-1-image {
        width: 200;
    }

    .menu-nav {
        font-size: 14px;
    }

    .info-title, .services-title h1 {
        font-size: 18px;
    }

    .form-input, .textarea {
        font-size: 14px;
    }

    .contact-card-text {
        font-size: 14px;
    }
    
}
